.driver-container {
  display: flex;
  justify-content: center;
  padding: 40px;
  background: #0d0d0d; 
  min-height: 100vh;
}
.driver-box {
  background: #111; 
  width: 850px;
  padding: 35px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.3);
  border: 2px solid #ff1a1a;
}
.title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 15px;
  color: #ff1a1a;
  text-shadow: 0 0 10px rgba(255, 30, 30, 0.6);
}
.sub-title {
  margin-top: 30px;
  font-size: 22px;
  color: #f5f5f5;
  border-left: 4px solid #ff1a1a;
  padding-left: 10px;
}
.status-section {
  background: #1a1a1a;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #ff1a1a;
}
.online {
  color: #00e676;
  font-weight: bold;
}
.offline {
  color: #ff3d3d;
  font-weight: bold;
}
.status-buttons {
  margin-top: 10px;
}
.btn {
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
  margin-right: 10px;
  font-size: 14px;
  transition: 0.3s ease;
  font-weight: bold;
}
.online-btn {
  background: #00e676;
  color: #000;
}
.online-btn:hover {
  background: #03c561;
  box-shadow: 0 0 10px #00e676;
}
.offline-btn {
  background: #ff1a1a;
  color: white;
}
.offline-btn:hover {
  background: #cc0000;
  box-shadow: 0 0 12px #ff1a1a;
}
.add-trip-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-top: 15px;
  margin-bottom: 25px;
}
.add-trip-form input {
  padding: 12px;
  background: #1a1a1a;
  border: 1px solid #ff1a1a;
  border-radius: 8px;
  font-size: 14px;
  color: #fff;
}
.add-trip-form input::placeholder {
  color: #888;
}
.add-btn {
  grid-column: 1 / span 2;
  background: #ff1a1a;
  color: black;
  font-weight: bold;
  border: 1px solid #ff3d3d;
}
.add-btn:hover {
  background: #e60000;
  color: white;
  box-shadow: 0 0 15px #ff1a1a;
}
.trip-list {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.trip-card {
  background: #141414;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #ff1a1a;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
  transition: 0.3s ease;
}
.trip-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.4);
}
.trip-card h4 {
  margin-bottom: 10px;
  color: #ff1a1a;
}
.trip-card p {
  margin: 5px 0;
  font-size: 14px;
  color: #ddd;
}
.view-btn {
  margin-top: 10px;
  background: #000;
  color: #ff1a1a;
  border: 1px solid #ff1a1a;
}
.view-btn:hover {
  background: #ff1a1a;
  color: #000;
  font-weight: bold;
  box-shadow: 0 0 15px #ff1a1a;
}


