body {
  margin: 0;
  font-family: "Poppins", Arial, sans-serif;
  background: #0d0d0d;
  color: #fff;
}
.header {
  padding: 70px 20px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(255, 0, 0, 0.4);
  border-bottom: 2px solid #ff1a1a;
  height: 100px;
}
.title {
  margin: 0;
  font-size: 40px;
  color: white;
  font-weight: 700;
  letter-spacing: 2px;
}
.subtitle {
  font-size: 18px;
  color: #ffcccc;
  margin-top: 10px;
}
.btn {
  padding: 12px 20px;
  background: linear-gradient(135deg, #ff0000, #b30000);
  border: none;
  color: white;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
  letter-spacing: 1px;
  transition: 0.3s;
  box-shadow: 0 4px 15px rgba(255, 0, 0, 0.5);
  width: 200px;
}
.btn:hover {
  transform: translateY(-4px) scale(1.05);
  box-shadow: 0 8px 25px rgba(255, 0, 0, 0.8);
}
.section {
  padding: 50px 20px;
  text-align: center;
}
.service-grid {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}
.service-card {
  background: rgba(255, 255, 255, 0.06);
  border-radius: 12px;
  padding: 25px;
  width: 230px;
  color: white;
  border: 1px solid rgba(255, 0, 0, 0.3);
  backdrop-filter: blur(6px);
  box-shadow: 0 8px 20px rgba(255, 0, 0, 0.25);
  transition: 0.3s;
}
.service-card:hover {
  transform: translateY(-8px) scale(1.05);
  border-color: #ff3333;
  box-shadow: 0 12px 30px rgba(255, 0, 0, 0.5);
}
.footer {
  background: #000;
  color: #ff4d4d;
  padding: 20px;
  font-weight: 600;
  border-top: 2px solid #ff1a1a;
  /* border-bottom: 2px solid #ff1a1a; */
  text-align: center;
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.8);
  font-size: larger;
}
.till
{
    color:red;
    letter-spacing: 2px;
}