body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #0d0d0d;
  color: #fff;
}
.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  background: #0d0d0d;
}
.login-box {
  background: #111;
  width: 350px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 25px rgba(255, 0, 0, 0.35);
  border: 1px solid rgba(255, 0, 0, 0.35);
  text-align: center;
}
.login-title {
  font-size: 30px;
  color: #ff1a1a;
  text-shadow: 0 0 10px #ff1a1a;
  margin-bottom: 5px;
}
.login-subtitle {
  font-size: 15px;
  color: #ccc;
  margin-bottom: 20px;
}
.label {
  display: block;
  text-align: left;
  font-size: 14px;
  color: #ff4d4d;
  margin-bottom: 5px;
  margin-top: 15px;
}
.input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  background: #0b0b0b;
  border: 1px solid #ff1a1a;
  color: #fff;
  font-size: 14px;
  transition: 0.3s;
}
.input:focus {
  outline: none;
  border: 1px solid #ff4d4d;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}
.btn {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s;
}
.primary {
  background: #ff1a1a;
  color: #fff;
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.4);
}
.primary:hover {
  background: #cc0000;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.6);
}
.show {
  background: #111;
  color: #fff;
}
select.input option {
  background: #111;
  color: #fff;
}
